@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$width-tablet: 540px;

$font-base: "Kumbh Sans", sans-serif;

$color-very-dark-desaturated-blue: hsl(238, 29%, 16%); //text
$color-soft-red: hsl(14, 88%, 65%); //text
$color-very-dark-grayish-blue: hsl(237, 12%, 33%); //text
$color-dark-grayish-blue: hsl(240, 6%, 50%); //text
$color-soft-violet: hsl(273, 75%, 66%); //background
$color-soft-blue: hsl(240, 73%, 65%); //background
$color-light-grayish-blue: hsl(240, 5%, 91%); //dividers

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-base;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  color: $color-dark-grayish-blue;
  background: linear-gradient($color-soft-violet, $color-soft-blue);
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: $color-light-grayish-blue;

  a {
    color: $color-soft-red;
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.card {
  width: 96%;
  max-width: 327px;
  background: url("../images/bg-pattern-mobile.svg") center top no-repeat white;
  border-radius: 24px;

  @media (max-width: ($width-tablet - 1)) {
    margin-top: 110px;
  }

  @media (min-width: $width-tablet) {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: -578px -295px;
    max-width: 920px;
    display: flex;
  }

  &__top {
    position: relative;

    @media (max-width: ($width-tablet - 1)) {
      padding-top: 106px;
    }

    @media (min-width: $width-tablet) {
      width: 50%;
      padding-top: 70px;

      &::after {
        content: "";
        width: 191px;
        height: 184px;
        background-image: url("../images/illustration-box-desktop.svg");
        position: absolute;
        top: 204px;
        left: -92px;
        animation: bounce 2s ease infinite;
      }
    }
  }

  &__image-wrap {
    @media (min-width: $width-tablet) {
      display: block;
      overflow: hidden;
    }
  }

  &__image {
    @media (max-width: ($width-tablet - 1)) {
      width: 240px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -109px;
    }

    @media (min-width: $width-tablet) {
      margin-left: -84px;
    }
  }

  &__body {
    padding: 24px 24px 48px;

    @media (min-width: $width-tablet) {
      width: 50%;
      padding: 64px 16px 90px;
    }
  }

  &__title {
    font-size: 32px;
    color: $color-very-dark-grayish-blue;
    margin-top: 0;
    margin-bottom: 16px;

    @media (max-width: ($width-tablet - 1)) {
      text-align: center;
    }

    @media (min-width: $width-tablet) {
      margin-bottom: 24px;
    }
  }
}

.accordion {
  @media (min-width: $width-tablet) {
    max-width: 350px;
  }

  &-item {
    border-bottom: 1px solid $color-light-grayish-blue;

    &__header {
      padding: 16px 0;
      font-size: 13px;
      color: $color-very-dark-grayish-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &::after {
        content: url("../images/icon-arrow-down.svg");

        @media (min-width: $width-tablet) {
          padding: 0 1rem;
        }
      }

      &--active {
        font-weight: 700;

        &::after {
          transform: rotate(180deg);
        }
      }

      @media (min-width: $width-tablet) {
        font-size: 14px;
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.3s ease, max-height 0.3s ease;
      opacity: 0;

      &::after {
        content: "";
        display: block;
        height: 16px;
      }

      &--visible {
        opacity: 1;
      }
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}
